$rose-section-background: #fff5f6;
$hero-background: #ffb8ca;
$modal-background: #e17992;
$neutral-section-background: #e5e5e5;
$bg-reviews: #fafafa;
$primary-text-color: #000000;
$p-text-color: #ffa5ba;
$h-text-color: #d41443;
$buttons-white-bg: #ffffff;
$buttons-grey-bg: #ecebeb;

$pre-title-hero: #ffffff;
$btn-2-bg: #ffffff;
$btn-2-color: #d41443;
$btn-2-bg-hover: #ecebeb;
$btn-3-bg: #d41443;
$btn-3-color: #ffffff;
$btn-3-bg-hover: #c7133e;

$products-text-color: #ffffff;
$products-first-background: #ffb8ca;
$products-second-background: #f0d1a5;
$products-third-background: #c2e297;
$products-icon-color: #d41443;

$about-text-description: #907e82;

$modal-form-backdrop: #ffb8ca;
$modal-form-bg: #fff;
$modal-form-input-bg: #e9eff6;
$modal-form-input-elements: #e17992;

$fade-in-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$contacts-bgc: #fff5f6;
$contacts-white-bgc: #ffffff;
$contacts-title-color: #f0d1a5;
$contacts-second-title: #c2e297;
$contacts-product-descr: #907e82;
$contact-color-time: #ffa5ba;
$contacts-btn-color: #d41342;
