<div class="modal" data-modal="modal-form">
  <div class="modal__wrapper">
    <button class="modal__button-close" data-action="modal-close-form">
      <i class="far fa-times-circle"></i>
    </button>

    <div class="modal__decoration modal__decoration_left"></div>
    <div class="modal__decoration modal__decoration_right"></div>
    <div class="modal__decoration-circle"></div>

    <h3 class="modal__title">We will contact with you immediately!</h3>
    <form class="feedback" data-form="form-feedback">
      <input class="feedback__input" type="text" placeholder="Name" />
      <input class="feedback__input" type="tel" placeholder="Phone number" />
      <input class="feedback__input" type="email" placeholder="Email" />
      <textarea class="feedback__textarea" placeholder="Details..." rows="4"></textarea>

      <button class="button-submit" type="submit" data-action="submit-form">Call us!</button>
    </form>
  </div>
</div>
