<div class="modal" data-modal="modal-readmore">
  <div class="modal__wrapper">
    <button class="modal__button-close" data-action="modal-close-readmore">
      <i class="far fa-times-circle"></i>
    </button>
    <div class="modal__decoration modal__decoration_left"></div>
    <div class="modal__decoration modal__decoration_right"></div>
    <div class="modal__decoration-circle"></div>
    <h3 class="modal__title">How it`s made?</h3>
    <p class="about__text-description">
      <img
        src="../src/images/about/cow_mobile@1x.png"
        alt="cow"
        width="100"
        class="leftimg"
      />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere necessitatibus exercitationem
      quas enim officiis doloribus voluptatum et dolorum incidunt consectetur quaerat molestias
      odit, ullam quos, corporis possimus nisi blanditiis harum?
    </p>
    <p class="about__text-description">
      <img
        src="../src/images/hero/hero-milk-tablet.png"
        alt="milk-jug"
        width="100"
        class="rightimg"
      />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere necessitatibus exercitationem
      quas enim officiis doloribus voluptatum et dolorum incidunt consectetur quaerat molestias
      odit, ullam quos, corporis possimus nisi blanditiis harum?
    </p>
    <p class="about__text-description">
      <img
        src="../src/images/products/products_1_mobile@1x.png"
        alt="ice-cream"
        width="100"
        class="leftimg"
      />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere necessitatibus exercitationem
      quas enim officiis doloribus voluptatum et dolorum incidunt consectetur quaerat molestias
      odit, ullam quos, corporis possimus nisi blanditiis harum?
    </p>
  </div>
</div>
