<section class="about" id="about">
  <div class="container">
    <p class="pre-title about__pre-title">Tradition and love</p>
    <h2 class="title about__title">How it's made</h2>

    <div class="about__container">
      <picture>
        <source
          srcset="./images/about/cow__desktop@1x.png 1x, ./images/about/cow__desktop@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/about/cow_tablet@1x.png 1x, ./images/about/cow_tablet@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/about/cow_mobile@1x.png 1x, ./images/about/cow_mobile@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img class="about__img" src="./images/about/cow_mobile@1x.png" width="280" alt="cow with milk" />
      </picture>
      <div class="about__box">
        <ul class="about__list">
          <li class="about__item">
            <p class="about__text">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
              faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
          </li>
          <li class="about__item">
            <p class="about__text-description">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
              orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
              feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            </li>
            <li class="about__item">
            <p class="about__text-description"> Aliquam erat volutpat. Aenean accumsan.</p>
            </li>
        </ul>
        <button type="button" class="btn-5 about__btn-5" data-action="modal-open-readmore">
          Read more
          <svg class="about__icon">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
