<section class="section-advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">our advantages</h2>
    <ul class="advantages">
      <li class="advant__item advant__item--icon1">
        <h3 class="advant__title title">721</h3>
        <p class="advant__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advant__item advant__item--icon2">
        <h3 class="advant__title title">16kg</h3>
        <p class="advant__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advant__item advant__item--icon3">
        <h3 class="advant__title title">84</h3>
        <p class="advant__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
