<div class="burger-menu" data-menu="menu-mobile">
  <button class="close-button__close" type="button" data-action="button-close-menu">
    <svg width="14px" height="14px">
      <use class="close-button__icon" href="./images/icons.svg#close"></use>
    </svg>
  </button>

  <div class="burger-menu__container">
    <div class="burger-menu__button">
      <button class="button-order" type="button" data-action="modal-open-form">
        <span class="button-order__text">Buy now</span>

        <svg class="button-order__icon" width="8px">
          <use href="./images/icons.svg#arrow"></use>
        </svg>
      </button>
    </div>

    <ul class="burger-menu-nav">
      <li class="burger-menu-nav__item">
        <a href="#home" class="burger-menu-nav__link" data-action="burger-link">Home</a>
      </li>

      <li class="burger-menu-nav__item">
        <a href="#advantages" class="burger-menu-nav__link" data-action="burger-link">About us</a>
      </li>

      <li class="burger-menu-nav__item">
        <a href="#about" class="burger-menu-nav__link" data-action="burger-link"
          >How it&rsquo;s made?</a
        >
      </li>

      <li class="burger-menu-nav__item">
        <a href="#products" class="burger-menu-nav__link" data-action="burger-link">Our products</a>
      </li>

      <li class="burger-menu-nav__item">
        <a href="#contacts" class="burger-menu-nav__link" data-action="burger-link">Contact</a>
      </li>
    </ul>
  </div>
</div>
