<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">contacts</h2>

    <ul class="contacts__list">
      <li class="contacts__item">
        <h3 class="contacts__title">CAFE</h3>
        <p class="contacts__part-name">Chicago</p>
        <p class="products__part-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <div class="contacts-border">
          <ul class="contacts__part">
            <li class="contacts-card">
              <p class="contacts__part-name">Monday - Friday</p>
              <p class="contacts__part-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card">
              <p class="contacts__part-name">Saturday - Sunday</p>
              <p class="contacts__part-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <ul class="contacts__adress">
          <li>
            <a href="tel:+61(0)383766284" class="contacts__adress--social">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__adress--social"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <h3 class="contacts__title contacts__title--truck">FOOD TRUCK</h3>
        <p class="contacts__part-name">Los Angeles</p>
        <p class="products__part-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <div class="contacts-border">
          <ul class="contacts__part">
            <li class="contacts-card">
              <p class="contacts__part-name">Monday - Friday</p>
              <p class="contacts__part-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card">
              <p class="contacts__part-name">Saturday - Sunday</p>
              <p class="contacts__part-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <ul class="contacts__adress">
          <li>
            <a href="tel:+61(0)383766284" class="contacts__adress--social">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__adress--social"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <h3 class="contacts__title">CAFE</h3>
        <p class="contacts__part-name">New york</p>
        <p class="products__part-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <div class="contacts-border">
          <ul class="contacts__part">
            <li class="contacts-card">
              <p class="contacts__part-name">Monday - Friday</p>
              <p class="contacts__part-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card">
              <p class="contacts__part-name">Saturday - Sunday</p>
              <p class="contacts__part-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <ul class="contacts__adress">
          <li>
            <a href="tel:+61(0)383766284" class="contacts__adress--social">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__adress--social"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <div class="contacts__wrapper">
      <ul class="contacts-btn__list">
        <li class="contacts-btn__item">
          <button class="btn-6 btn-6__solid" data-action="modal-open-address">
            <span class="btn-6__text btn-6__text_light">
              Our Locations
              <svg class="contacts-btn__icon1">
                <use href="./images/icons.svg#arrow2"></use>
              </svg>
            </span>
          </button>
        </li>
        <li class="contacts-btn__item">
          <button class="btn-6" data-action="modal-open-franchise">
            <span class="btn-6__text btn-6__text">
              Franchise
              <svg class="contacts-btn__icon2">
                <use href="./images/icons.svg#arrow3"></use>
              </svg>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
