<section class="reviews__section">
  <h2 class="visually-hidden">Отзывы клиентов</h2>
  <div class="container reviews__slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
    <div class="reviews">
      <picture class="reviews__photo">
        <source
          srcset="./images/reviews/girl3-x1.png 1x, ./images/reviews/girl3-x2.png 2x"
          media="(min-width: 320px)"
        />
        <img src="./images/reviews/girl3-x1.png" alt="Lora" />
      </picture>
      <div class="reviews__box">
        <div class="reviews__lines">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <p class="reviews__name">Lora, New York</p>
    </div>

    <div class="reviews">
      <picture class="reviews__photo">
        <source
          srcset="./images/reviews/Emily-x1.png 1x, ./images/reviews/Emily-x2.png 2x"
          media="(min-width: 320px)"
        />
        <img src="./images/reviews/Emily-x1.png" width="85" alt="Emily" />
      </picture>
      <div class="reviews__box">
        <div class="reviews__lines">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <p class="reviews__name">Emily, Los Angeles</p>
    </div>

    <div class="reviews">
      <picture class="reviews__photo">
        <source
          srcset="./images/reviews/girl2-x1.png 1x, ./images/reviews/girl2-x2.png 2x"
          media="(min-width: 320px)"
        />
        <img src="./images/reviews/girl2-x1.png" width="85" alt="July" />
      </picture>
      <div class="reviews__box">
        <div class="reviews__lines">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <p class="reviews__name">July, Chicago</p>
    </div>
  </div>
</section>
