<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__title-container">
        <p class="footer__first-title">homemade ice cream made</p>

        <p class="footer__second-title">with passion</p>
      </div>

      <div>
        <ul class="social">
          <li class="social__item">
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener no-referrer"
            >
              <svg class="social__image">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a
              class="social__link"
              href="https://telegram.org/"
              target="_blank"
              rel="noopener no-referrer"
            >
              <svg class="social__image">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener no-referrer"
            >
              <svg class="social__image">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__phone">
          <span> Feel free to contact</span>
          <a class="footer__phone--link-color" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>

    <div class="footer__register-trade-box">
      <p class="footer__register-trade-text">&copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
