<section class="section-gallery">
  <h2 class="visually-hidden">gallery photos</h2>
  <picture>
    <source
      class="photo__item"
      srcset="./images/gallery/gallery-dsk-1x.jpg 1x, ./images/gallery/gallery-dsk-2x.jpg 2x"
      media="(min-width:1280px)"
    />
    <source
      class="photo__item"
      srcset="./images/gallery/gallery-tab-1x.jpg 1x, ./images/gallery/gallery-tab-2x.jpg 2x"
      media="(min-width:768px)"
    />
    <source
      class="photo__item"
      srcset="./images/gallery/gallery-mob-1x.jpg 1x, ./images/gallery/gallery-mob-2x.jpg 2x"
      media="(min-width:320px)"
    />
    <img class="gallery__photo" src="./images/gallery/gallery-dsk-1x.jpg" width="364" alt="gallery of photos" />
  </picture>
</section>
