<section class="hero">
  <div class="container hero__container">
    <h1 class="title hero__title">
      <span class="pre-title hero__pre-title">ice cream<br />made with</span>passion
    </h1>
    <ul class="actions">
      <li class="actions-item">
        <a href="#products" class="btn-3">Products</a>
      </li>
      <li class="actions-item">
        <a href="#about" class="btn-2">How it's made?</a>
      </li>
    </ul>
    <ul class="values">
      <li class="value">
        <p class="value-number">16</p>
        <p class="value-text value-text--first">cafes</p>
      </li>
      <li class="value">
        <p class="value-number">23</p>
        <p class="value-text value-text--second">food trucks</p>
      </li>
    </ul>
    <p class="smart-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <picture>
      <source
        srcset="
          ./images/hero/arrow-right-desktop.png    1x,
          ./images/hero/arrow-right-desktop@2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="./images/hero/arrow-right-tablet.png 1x, ./images/hero/arrow-right-tablet@2x.png 2x"
        media="(min-width:768px)"
      />
      <img
        src="./images/hero/arrow-right-tablet.png"
        width="18"
        alt="A red right arrow in a white circle"
        class="expand"
      />
    </picture>

    <div class="circle-bg"></div>
    <picture>
      <source
        srcset="
          ./images/hero/hero-ice-cream-desktop.png    1x,
          ./images/hero/hero-ice-cream-desktop@2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/hero-ice-cream-tablet.png    1x,
          ./images/hero/hero-ice-cream-tablet@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="./images/hero/hero-ice-cream-mob.png 1x, ./images/hero/hero-ice-cream-mob@2x.png 2x"
        media="(min-width:320px)"
      />
      <img
        src="./images/hero/hero-ice-cream-mob.png"
        width="171"
        alt="ice-cream"
        class="hero-picture hero-picture--ice-cream"
      />
    </picture>
    <picture>
      <source
        srcset="./images/hero/hero-girl-desktop.png 1x, ./images/hero/hero-girl-desktop@2x.png 2x"
        media="(min-width:1280px)"
      />
      <source
        srcset="./images/hero/hero-girl-tablet.png 1x, ./images/hero/hero-girl-tablet@2x.png 2x"
        media="(min-width:768px)"
      />
      <img
        src="./images/hero/hero-girl-tablet.png"
        width="168"
        alt="A girl with yellow glasses and light-blue bikini licks an ice-cream"
        class="hero-picture hero-picture--girl"
      />
    </picture>
    <picture>
      <source
        srcset="./images/hero/hero-milk-desktop.png 1x, ./images/hero/hero-milk-desktop@2x.png 2x"
        media="(min-width:1280px)"
      />
      <source
        srcset="./images/hero/hero-milk-tablet.png 1x, ./images/hero/hero-milk-tablet@2x.png 2x"
        media="(min-width:768px)"
      />
      <img
        src="./images/hero/hero-milk-tablet.png"
        width="124"
        alt="A glass jug with a bio eco milk"
        class="hero-picture hero-picture--milk"
      />
    </picture>
  </div>
</section>
